@model IEnumerable<SMSWebPortal.Models.Timetable>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.day_of_week)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hour_of_day)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.day_of_week)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hour_of_day)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.timetable_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.timetable_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.timetable_id })
        </td>
    </tr>
}

</table>
