@model IEnumerable<SMSWebPortal.Models.Tertiary>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.institution)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.aps)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.institution)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.aps)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.tertiary_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.tertiary_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.tertiary_id })
        </td>
    </tr>
}

</table>
