@model IEnumerable<SMSWebPortal.Models.Subject>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.subject_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.test)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.assignment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.exam)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.subject_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.test)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.assignment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.exam)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.subject_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.subject_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.subject_id })
        </td>
    </tr>
}

</table>
